.licensesnip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.venv/

/target

*.snap

# IDE files
.idea

# local data
sandbox/

# mutants anaylysis tool outputs
mutants.out*